* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    background:var(--bg-image) top center;
    background-size: 100% 100%;
    
}

    :root{
        --bg-image:url('./assets/bg-image.svg');
        --bg-image-phone:url('./assets/bg-image-phone.svg');
        --roxo: #6C63FF;
        --grey:rgb(238, 236, 236);
        --red:rgb(255, 97, 144);
        --shadow: 0 0 1em rgb(173, 173, 173);
        --bg-time:rgba(7, 7, 7, 0.466);
        --text-color:rgb(253, 252, 252);
    }


body *{
    font-family: 'Comfortaa', sans-serif;
    
}


       
section button{
    cursor: pointer;
 }   


/*MENU LATERAL*/
nav.menu-lateral{/*bg do menu*/
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 100%;
    background-color:white;
    opacity: 92%;
    
    box-shadow: var(--shadow);
    overflow: hidden;

    transition: 0.4s;
}

nav.menu-lateral.expandir{/*menu lateral expandido*/
    width: 300px;
    
}



.btn-expandir{/*div do icon menu*/
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
}

.btn-expandir > i{/*icon menu(esse i é da classe do icon, acionando diretamente o icon)*/
    color: var(--red);
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu a{/*todos os icons*/
    display: flex;

    color:var(--roxo);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 1%;
   
    line-height: 40px;
   
}


ul li.item-menu a .text-link{/*texto dos icons*/
    margin-left: 70px;
    transition: 0.8s;
    opacity: 0;
}

nav.menu-lateral.expandir .text-link{/*aproximação das letras quando expande o menu*/
    margin-left: 30px;
    opacity: 1;
}/*aqui toda vez que o nav menu lateral tiver a classe expandir eu quero que aconteça algo tom text link*/

ul li.item-menu a .icon > i{/*icons*/
   
    font-size: 30px;
    margin-left: 15px;
}




ul li.ativo{
    background-color: var(--grey);
}






/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    
}

main h1{
    margin-top: 2em;
    font-size: 106px;
    font-style: normal;
    font-weight: 700;
    color:var(--roxo) ;
    font-family: 'Oswald', sans-serif;
 }



#inscrever{/*BUTTON inscrever*/
    border: none;
    
    background:var(--red);
    padding: 10px;
    color: var(--grey);
    border-radius: 10px ;
    box-shadow: var(--shadow);
    margin-top: 20px;
    
}



.countdown{
    padding: 90px 0;
    font-size: 50px;
    text-shadow: var(--shadow);
    display: flex;
    
    gap: 60px;
    text-align: center;
    
}

.time h2{/*numbers clock*/
    background-color: var(--bg-time);
    border-radius: 10px;
    
    padding: 15px;
    font-family: 'Rajdhani', sans-serif;
    color: var(--text-color);

}
.time span{/*text clock*/
    font-size: 30px;
    background-color: var(--bg-time);
    border-radius: 5px;
    padding: 8px;
    color: var(--text-color);
}




/*MODAL*/
dialog::backdrop{/*fundo atrás do modal ativo*/
    background-color: rgba(226, 226, 226, 0.671);
}

dialog{
    border: none;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin: auto;
    min-height: 20rem;
    max-width: 100%;
    width: 40rem;
    padding: 20px;
    
   
    flex-direction: column;
    justify-content: center;


    position: relative;
   
}

#fechar{/*button fechar form*/
display: flex;

}

dialog button{/*close button*/
border: none;
margin-left: auto;
background:none;
padding: 10px;


}

dialog fieldset, h3{
    border: none;
    padding: 10px 0;
    color: rgba(47, 0, 255, 0.623);
    
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

dialog input{
    border: none;
    background: var(--grey);
    padding: 10px;
    border-radius: 10px;
    
}



dialog form button{/*Send button*/
    position: absolute;
    gap: 10px;
    padding: 7px;
    border: 2px solid var(--grey);
    border-radius: 20px;
   
    display: flex;
    align-items:center;
    justify-content: center;

    bottom: 0;
    right: 0;

    margin: 30px;

}









    /*HOVER*/
    dialog button:hover{/*X button*/
       
        transform: scale(1.5);   
        transition: 0.3s ease;   
    }
    dialog button:not(:hover){/*X button*/
        transition: 0.3s ease;   
    }



    
    dialog form button:hover{/*Send button*/
       
        transform: scale(1.1);   
        transition: 0.3s ease;   
    }
    dialog form button:not(:hover){/*Send button*/
        transition: 0.3s ease;   
    }


    #inscrever:hover{
        transform: scale(1.1);   
        transition: 0.3s ease;   
    }
    #inscrever:not(:hover){
        transition: 0.3s;
    }


    ul li.item-menu a:hover{
        background-color:var(--grey);
        transition: 0.2s;
    }
    ul li.item-menu a:not(:hover){
        transition: 0.3s;
    }







/*dISPLAY PHONE*/
@media screen and (max-width:500px) {
    body{
         background:var(--bg-image-phone) top center;
         background-size: 100% 100%;
         
         }
    main h1 {
         text-align: center;
         color: #2e0677e0;
         font-size: 55px;
         
         }

    .subscribeText{/*p text subscribe*/
        padding: 10px;
        text-align: center;
    }
    
    dialog {
         
         padding: 20px;
         max-width: 300px;
       }

    /*menu lateral*/
    nav.menu-lateral{
        height: 50px;
        width:100%;
       }

    nav.menu-lateral.expandirPhone{
        height: 100%;
        width: 70%;
    }
      
       .btn-expandir{/*div do icon menu*/
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    ul li.item-menu a .text-link{/*texto dos icons*/
        margin-bottom: 50px;
        transition: 0.8s;
        opacity: 0;
    }
    
    nav.menu-lateral.expandir .text-link{/*aproximação das letras quando expande o menu*/
        margin-bottom: 0px;
        opacity: 1;
    }


    .countdown{
        text-align: center;      
        font-size: 30px;
                
        gap: 10px;
        padding: 130px 0;
        
    }
    .time span{
        font-size: 15px;
        border-radius: 5px;
        padding: 8px;
    }
    .time h2{
        border-radius: 10px;
        padding: 5px;
    }
    
     }