* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

}

body{
    height: 100vh;
    
    background:var(--bg-image) top center;
    background-size: 100% 100%;
    background-color: var(--bg-color)   ;
    
}

    :root{
        --bg-image:url('./assets/bg-image.svg');
        --bg-image-phone:url('./assets/bg-image-phone.svg');
        --roxo: #675ffa;
        --grey:rgb(238, 236, 236);
        --red:rgb(255, 97, 144);
        --shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
        --bg-time:rgba(36, 31, 31, 0.397);
        --text-color:rgb(253, 252, 252);
        --text-color-black:black;
        --bg-color:rgb(253, 252, 252);
    }

    .dark{
        --bg-color:rgba(12, 12, 12, 0.925);
        --text-color-black:rgb(255, 255, 255);
        --roxo: #46445f;
        --text-color:rgba(0, 0, 0, 0.719);
        --bg-time:rgba(255, 255, 255, 0.459);

    }


body *{
    font-family: 'Comfortaa', sans-serif;
    
}


       
section button{
    cursor: pointer;
 }   


/*MENU LATERAL*/
nav.menu-lateral{/*bg do menu*/
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 100%;
    background-color:var(--bg-color);
    opacity: 92%;
    
    box-shadow: var(--shadow);
    overflow: hidden;

    transition: 0.4s;
}

nav.menu-lateral.expandir{/*menu lateral expandido*/
    width: 300px;
    
}


#switch button{
    border: none;
    width: 32px;
    height: 32px;
    
    color: var(--roxo);
    border-radius: 50%;
    background: url(./assets/sun.svg)no-repeat center;

    background-color: #675ffa;
    
   

}


.btn-expandir{/*div do icon menu*/
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

.btn-expandir > i{/*icon menu(esse i é da classe do icon, acionando diretamente o icon)*/
    color: var(--red);
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu a{/*todos os icons*/
    display: flex;

    color:var(--roxo);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 1%;
   
    line-height: 40px;
   
}


ul li.item-menu a .text-link{/*texto dos icons*/
    margin-left: 70px;
    transition: 0.8s;
    opacity: 0;
}

nav.menu-lateral.expandir .text-link{/*aproximação das letras quando expande o menu*/
    margin-left: 30px;
    opacity: 1;
}/*aqui toda vez que o nav menu lateral tiver a classe expandir eu quero que aconteça algo tom text link*/

ul li.item-menu a .icon > i{/*icons*/
   
    font-size: 30px;
    margin-left: 15px;
}




ul li.ativo{
    background-color: var(--grey);
}






/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    
}

main h1{
    margin-top: 2em;
    font-size: 106px;
    font-style: normal;
    font-weight: 700;
    color:var(--roxo) ;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: 1px #00000056; /* Largura da borda e cor */
    
}



#inscrever{/*BUTTON inscrever*/
    border: none;
    
    background:var(--red);
    padding: 10px;
    color: var(--grey);
    border-radius: 10px ;
    box-shadow: var(--shadow);
    margin-top: 20px;
    
}



.countdown{
    padding: 90px 0;
    font-size: 50px;
   
    display: flex;
    
    gap: 60px;
    text-align: center;
    
}

.time h2{/*numbers clock*/
    box-shadow: var(--shadow);

    background-color: var(--bg-time);
    border-radius: 10px;
    
    padding: 15px;
    font-family: 'Comfortaa', sans-serif;
    color: var(--text-color);

}
.time span{/*text clock*/
    box-shadow: var(--shadow);

    font-size: 30px;
    background-color: var(--bg-time);
    border-radius: 5px;
    padding: 8px;
    color: var(--text-color);
}


.subscribeText{
 color: var(--text-color-black);

 -webkit-text-stroke: 1px #0000007e;
 font-size: 24px;
}



/*MODAL FORM */
dialog::backdrop{/*fundo atrás do modal ativo*/
    background-color: rgba(226, 226, 226, 0.671);
}

dialog{
    border: none;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin: auto;
    min-height: 20rem;
    max-width: 100%;
    width: 40rem;
    padding: 20px;
    background-color: var(--bg-color);
   
    flex-direction: column;
    justify-content: center;


    position: relative;
   
}

#fechar{/*button fechar form*/
display: flex;

}

dialog button{/*close button*/
border: none;
margin-left: auto;
background:none;
padding: 10px;


}

dialog fieldset, h3{
    border: none;
    padding: 10px 0;
    color:var(--text-color-black);
    
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

dialog input{
    border: none;
    background: var(--grey);
    padding: 10px;
    border-radius: 10px;
    
}



dialog form button{/*Send button*/
    position: absolute;
    gap: 10px;
    padding: 7px;
    border: 2px solid var(--grey);
    border-radius: 20px;
   
    display: flex;
    align-items:center;
    justify-content: center;

    bottom: 0;
    right: 0;

    margin: 30px;

    color: var(--text-color-black);
}









    /*HOVER*/
    dialog button:hover{/*X button*/
       
        transform: scale(1.5);   
        transition: 0.3s ease;   
    }
    dialog button:not(:hover){/*X button*/
        transition: 0.3s ease;   
    }



    
    dialog form button:hover{/*Send button*/
       
        transform: scale(1.1);   
        transition: 0.3s ease;   
    }
    dialog form button:not(:hover){/*Send button*/
        transition: 0.3s ease;   
    }


    #inscrever:hover{
        transform: scale(1.1);   
        transition: 0.3s ease;   
    }
    #inscrever:not(:hover){
        transition: 0.3s;
    }


    ul li.item-menu a:hover{
        background-color:var(--grey);
        transition: 0.2s;
    }
    ul li.item-menu a:not(:hover){
        transition: 0.3s;
    }







/*dISPLAY PHONE*/
@media screen and (max-width:500px) {
    body{
         background:var(--bg-image-phone) top center;
         background-size: 100% 100%;
         background-color: var(--bg-color);
         
         }
    main h1 {
         text-align: center;
         color:var(--roxo);
         font-size: 55px;
         
         
         }

    .subscribeText{/*p text subscribe*/
        padding: 10px;
        text-align: center;
    }
    
    dialog {
         
         padding: 20px;
         max-width: 300px;
       }

    /*menu lateral*/
    nav.menu-lateral{
        height: 50px;
        width:100%;
       }

    nav.menu-lateral.expandirPhone{
        height: 100%;
        width: 70%;
    }
      
       .btn-expandir{/*div do icon menu*/
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    ul li.item-menu a .text-link{/*texto dos icons*/
        margin-bottom: 50px;
        transition: 0.8s;
        opacity: 0;
    }
    
    nav.menu-lateral.expandir .text-link{/*aproximação das letras quando expande o menu*/
        margin-bottom: 0px;
        opacity: 1;
    }


    .countdown{
        text-align: center;      
        font-size: 30px;
                
        gap: 10px;
        padding: 130px 0;
        
    }
    .time span{
        font-size: 15px;
        border-radius: 5px;
        padding: 8px;
    }
    .time h2{
        
        border-radius: 10px;
        padding: 5px;
    }
    
     }